.trae/
.vscode/
astc-encoder/
build/
ContentTools/
Darwin/
Engine/
EngineDLL/
EngineTest/
EngineTest_Debug/
GameEngine_VulkanCPP_Debug/
lib/
OSAPI/
PrimalEditor/
PrimalEditor_Avalonia/
CmakeLists.txt.bak
command.txt
model.model