[submodule "third_party/WebGPU"]
	path = third_party/WebGPU
	url = https://github.com/webgpu-native/webgpu-headers.git
[submodule "third_party/astc-encoder"]
	path = third_party/astc-encoder
	url = https://github.com/ARM-software/astc-encoder.git
[submodule "third_party/dawn"]
	path = third_party/dawn
	url = https://github.com/google/dawn.git
[submodule "third_party/moodycamel-ConcurrentQueue"]
	path = third_party/moodycamel-ConcurrentQueue
	url = https://github.com/ikiller1/moodycamel-ConcurrentQueue.git
[submodule "third_party/meshoptimizer"]
	path = third_party/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
[submodule "third_party/PhysX"]
	path = third_party/PhysX
	url = https://github.com/NVIDIAGameWorks/PhysX.git
[submodule "third_party/lua"]
	path = third_party/lua
	url = https://github.com/lua/lua.git
[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "third_party/libigl"]
	path = third_party/libigl
	url = https://github.com/libigl/libigl.git
[submodule "third_party/pmp-library"]
	path = third_party/pmp-library
	url = https://github.com/pmp-library/pmp-library.git
[submodule "third_party/VHACD"]
	path = third_party/VHACD
	url = https://github.com/Unity-Technologies/VHACD.git
[submodule "third_party/xatlas"]
	path = third_party/xatlas
	url = https://github.com/jpcy/xatlas.git
